.Person{
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.Person:hover{
    border: 1px solid #D9ECEC;
    background-color: #E0FAFA;
    box-shadow: 0 2px 3px #D9ECEC;
}

.Person:hover p {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

.Person input.InputDefault {
    padding: 3px;
    background-color: #D9ECEC;    
    border: 0px;
}

.Person:hover input.InputDefault {
    background-color: white;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}